.carousel{
    width: 1200px;
}
.img1{
     width:1300px;
     height:700px;
}
.img2{
    
    width:1300px;
    height:700px;
}
.img3{
    
    width:1300px;
    height:700px;
}
.img4{
    
    width:1300px;
    height:700px;
}